//-------------------------------------------
// <Email Params page >
//-------------------------------------------

.emailParam.nav-link {
  width: 130px;
}

//-------------------------------------------
// </Email Params page >
//-------------------------------------------

//-------------------------------------------
// <download icon on preview >
//-------------------------------------------

.downloadIconPrev {
  cursor: pointer;
  &:hover{
    transform:scale(1.3)
  }
}

//-------------------------------------------
// </download icon on preview >
//-------------------------------------------

